.tooltip {
  position: absolute;
  background: black;
  color: white;
  width: 120px;
  padding: 10px;
  top: -40px;

  display: inline-block;
  border-radius: 5px;
}
.tooltip::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
@media only screen and (max-width: 400px) {
  .tooltip {
    left: -10px;
  }
}
