.list-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.app-container {
  padding: 20px;
}
.header {
  color: rgb(154, 152, 152);
}

.show-more-container {
  color: rgb(47, 47, 194);
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.down-icon {
  font-size: 20px;
  margin-top: 2px;
  margin-left: 2px;
}
@media only screen and (max-width: 1180px) {
  .list-container {
    display: block;
    margin: auto;
  }
}
